@font-face{font-family:PowerVisuals;src:url(../fonts/PowerVisuals.eot?#iefix) format('embedded-opentype'),url(../fonts/PowerVisuals.woff) format('woff'),url(../fonts/PowerVisuals.ttf) format('truetype'),url(../fonts/PowerVisuals.svg) format('svg');font-weight:400;font-style:normal}
@font-face{font-family:wf_segoe-ui_light;src:url(../fonts/SegoeUI-Light-final.eot);src:local('Segoe UI Light'),local('Segoe WP Light'),url(../fonts/SegoeUI-Light-final.eot?#iefix) format('embedded-opentype'),url(../fonts/SegoeUI-Light-final.woff) format('woff'),url(../fonts/SegoeUI-Light-final.ttf) format('truetype'),url(../fonts/SegoeUI-Light-final.svg#web) format('svg');font-weight:400;font-style:normal}
@font-face{font-family:wf_segoe-ui_semilight;src:url(../fonts/SegoeUI-SemiLight-final.eot);src:local('Segoe UI Semilight'),local('Segoe WP Light'),url(../fonts/SegoeUI-SemiLight-final.eot?#iefix) format('embedded-opentype'),url(../fonts/SegoeUI-SemiLight-final.woff) format('woff'),url(../fonts/SegoeUI-SemiLight-final.ttf) format('truetype'),url(../fonts/SegoeUI-SemiLight-final.svg#web) format('svg');font-weight:400;font-style:normal}
@font-face{font-family:wf_segoe-ui_normal;src:url(../fonts/SegoeUI-Regular-final.eot);src:local('Segoe UI'),local('Segoe'),local('Segoe WP'),url(../fonts/SegoeUI-Regular-final.eot?#iefix) format('embedded-opentype'),url(../fonts/SegoeUI-Regular-final.woff) format('woff'),url(../fonts/SegoeUI-Regular-final.ttf) format('truetype'),url(../fonts/SegoeUI-Regular-final.svg#web) format('svg');font-weight:400;font-style:normal}
@font-face{font-family:wf_segoe-ui_semibold;src:url(../fonts/SegoeUI-SemiBold-final.eot);src:local('Segoe UI Semibold'),local('Segoe Semibold'),local('Segoe WP Semibold'),url(../fonts/SegoeUI-SemiBold-final.eot?#iefix) format('embedded-opentype'),url(../fonts/SegoeUI-SemiBold-final.woff) format('woff'),url(../fonts/SegoeUI-SemiBold-final.ttf) format('truetype'),url(../fonts/SegoeUI-SemiBold-final.svg#web) format('svg');font-weight:400;font-style:normal}
@font-face{font-family:wf_segoe-ui_bold;src:url(../fonts/SegoeUI-Bold-final.eot);src:local('Segoe UI bold'),local('Segoe bold'),local('Segoe WP bold'),url(../fonts/SegoeUI-Bold-final.eot?#iefix) format('embedded-opentype'),url(../fonts/SegoeUI-Bold-final.woff) format('woff'),url(../fonts/SegoeUI-Bold-final.ttf) format('truetype'),url(../fonts/SegoeUI-Bold-final.svg#web) format('svg');font-weight:400;font-style:normal}
@font-face{font-family:wf_standard-font;src:url(../fonts/StandardFont.eot);src:url(../fonts/StandardFont.eot?#iefix) format('embedded-opentype'),url(../fonts/StandardFont.woff) format('woff'),url(../fonts/StandardFont.ttf) format('truetype');font-weight:400;font-style:normal}
@font-face{font-family:wf_standard-font_bold;src:url(../fonts/StandardFontBold.eot);src:url(../fonts/StandardFontBold.eot?#iefix) format('embedded-opentype'),url(../fonts/StandardFontBold.woff) format('woff'),url(../fonts/StandardFontBold.ttf) format('truetype');font-weight:400;font-style:normal}
@font-face{font-family:wf_standard-font_light;src:url(../fonts/StandardFontLight.eot);src:url(../fonts/StandardFontLight.eot?#iefix) format('embedded-opentype'),url(../fonts/StandardFontLight.woff) format('woff'),url(../fonts/StandardFontLight.ttf) format('truetype');font-weight:400;font-style:normal}

/*bs3 addons*/
.bg-gray{
	background-color: #eee;
	padding: 5px;
}

body{}
.navbar{
	background-color: #222;
	border:0 none;
	margin: 0;
	color:#ddd;
}
.navbar h1{
	margin: 0 15px;
	font-size: 20px;
	line-height: 50px;
}
.mainpane{
	padding:50px 0 0;
}
.workarea{
	padding:0 75px;
}
.leftpane, .rightpane{
	position: fixed;
	top:50px;
	background-color: #222;
    overflow-y: auto;
    z-index: 2;
    color:white;
}
.leftpane{
	left:0;
	bottom: 0;
	width:55px;

}
.rightpane{
	top: 51px;
	right:0;
}

.btn-show + ul{
	width:0;
	height: 0;
	transition: width .2s;

}
.btn-show:focus + ul{
	display: block!important;
	width:220px;
	height: auto;
}


.menu, .widgets{
	position: fixed;
	top:51px;
	left:0;
	bottom:0;
	width:55px;
	transition: width .2s;
	background-color: #222;
	color:white;
	z-index: 1;
	overflow: auto;
}
.menu.open, .widgets.open{
	left:56px;
	width:220px;
}

/**/
.flexrow{
	display: flex;
	margin:0 -15px;
}
.flexrow .co{
	padding: 0 15px;
}

/*powerbi*/
.visual{
    position: relative;
}
